# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*

# Build files/folders
Makefile

# Logs and temp files
*.log
*.tmp
*~
*.swp
*.swo
*.bak

# IDE/project files
.vscode/
.idea/
*.code-workspace
*.xcworkspace/
*.xcodeproj/